In [ ]:
import sys
import json
import shutil
import os

sys.path.insert(0, '../src') # add library code to path
from geospatial import *

In [ ]:
df = read_gis()

In [ ]:
df.head()

In [161]:
df.columns

Index(['AIANHHA', 'AITSCEA', 'ALAND10', 'ANRCA', 'APREC', 'AREA', 'AWATER10',
       'BASICCAR', 'BLKGRPA', 'BLOCKA',
       ...
       'TRACTCE10', 'TRUSTA', 'TTRACTA', 'UAA', 'UACE10', 'UATYP10', 'UR10',
       'URBRURALA', 'YEAR', 'ZCTA5A'],
      dtype='object', length=146)

In [ ]:
race_map = {
    "H7Z001": "Total",
    "H7Z003": "White",
    "H7Z004": "Black or African American",
    "H7Z005": "American Indian and Alaska Native",
    "H7Z006": "Asian",
    "H7Z007": "Native Hawaiian and Other Pacific Islander",
    "H7Z008": "Other",
    "H7Z009": "Others",
    "H7Z010": "Hispanic or Latino"
}

In [ ]:
renamed_cols = df.rename(columns=race_map)

In [ ]:
for col in renamed_cols:
    if col.startswith('H7'):
        renamed_cols.drop(col, axis=1, inplace=True)

In [ ]:
renamed_cols.columns

In [ ]:
renamed_cols['Other'] += renamed_cols['Others']
census_div = renamed_cols[['Total', 'White', 'Black or African American',
       'American Indian and Alaska Native', 'Asian',
       'Native Hawaiian and Other Pacific Islander', 'Other',
       'Hispanic or Latino']].sum()
census_div

In [164]:
df[['REPDIST','APREC']].head()

   REPDIST      APREC
0     1129  NORTHEAST
1     1112  NORTHEAST
2     1102  NORTHEAST
3     1102  NORTHEAST
4     1465    PACIFIC

In [167]:
df.REPDIST.nunique(), df.APREC.nunique()

(1135, 21)

In [168]:
stops = pd.read_csv('../data/cleaned/stops-processed.csv')